extends layout

block content
  h1= title
  .inner
    p Fill out the form to add a new camera to your "bag."
    form.form(action='/addCamera' method='POST')
      label(for='brand') Camera Brand
      input(type='text' name='brand')
      label(for='model') Camera Model
      input(type='text' name='model')
      label(for='format') Film Format
      select(name='format')
        option(value='35mm') 35mm
        option(value='medium-format') Medium Format
        option(value='large-format') Large Format
      input.button(type='submit' value='Add Camera!')