extends layout

block content
  h1= title
  .inner
    form.form(action=`/${rollSlug}/addPhoto` method='POST')
      label(for='shutter') Shutter Speed
      input(type="text" name='shutter' placeholder="Enter integers for seconds, otherwise enter value as faction, such as \'1/125\'" value="1/")

      label(for='fstop') F-Stop
      input(type="text" name='fstop' placeholder="2.8, 5.6, 11, etc.")

      label(for='focalLength') Lens Focal Length
      input(type="text" name='focalLength' placeholder="Enter focal length in mm. ex. 50, 100, 24. (Just numbers)")

      label(for='description') Short Description of Subject
      input(type="text" name='description' placeholder="Optional description")

      label(for='date') Date Taken
      input(type="date" name='date' value=`${h.moment().format('YYYY-MM-DD')}`)

      label(for='notes') Other Notes
      input(type="text" name='notes' placeholder="Optional Notes")

      input.button(type='submit' value='Record Photo!')