extends layout

include mixins/_activeRolls
include mixins/_landing
include mixins/_loginForm

block content
  h1= title
  .inner
    if activeRolls
      +activeRolls()
    else
      +landing()
      +loginForm()
      