body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

h1, h2 {
  margin: 50px 50px 50px 0px;
}

p {
  font-size: 1.2em;
}

a {
  color: black;
  text-decoration: none;
}

label {
  font-weight: bold;
}

svg {
  height: 80px;
  width: 80px;
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.nav {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  
  width: 100vw;
  
  border-bottom: 1px solid gray;
  justify-items: center;
}

.nav__ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 20px;
}

.nav__li--logo {
  padding: 0 10px;
  flex: 0 1 auto;
}

.nav__li--spacer {
  flex: 1 1 auto;
}

.nav__li--item {
  padding: 0 20px;
  flex: 0 1 auto;
}

.nav__logo {
  height: 100px;
}

.flex__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex__container--centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form > * {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.inner {
  max-width:900px;
  margin: 0 auto;
}

.rollsContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.activeRoll {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px 20px 10px 20px;
  display: flex;
  border: 3px solid black;
}

.activeRoll__info {
  flex: 2;
}

.activeRoll__buttonArea {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activeRoll__button--button {
  height: 50px;
  width: 90%;
  color: white;
  background-color: black;
  margin: 10px 10px 10px 10px;
  font-size: 0.9em;
}

.activeRoll__button--button:hover {
  color: black;
  background-color: white;
}

@media (max-width: 700px) {
  .activeRoll {
    flex-direction: column;
  }
  .activeRoll__buttonArea {
    width: 100%;
  }
}