mixin landing()

  h2 Welcome!

  p Welcome to Film Tracker. Have you ever found yourself carrying around a piece of paper or notebook to record the settings used when shooting on your film camera? This site is the digital version. Easily add your cameras, load a new roll, and quickly record shot data to refer to later on.